ROOT_DOMAIN=example.com

DDNS_UPDATER_PATH=/tmp/ddns-updater

BITWARDEN_SUBDOMAIN=bitwarden
BITWARDEN_DOMAIN_KEY=abc123
BITWARDEN_PATH=/tmp/bitwarden

STATUS_SUBDOMAIN=status
STATUS_DOMAIN_KEY=def456
STATUS_PATH=/tmp/status

TRANSLATE_SUBDOMAIN=translate
TRANSLATE_DOMAIN_KEY=ghi789

LETSENCRYPT_EMAIL=admin@example.com
LETSENCRYPT_PATH=/tmp/letsencrypt
