ROOT_DOMAIN=example.com

LETSENCRYPT_EMAIL=admin@example.com
LETSENCRYPT_PATH=/tmp/letsencrypt

DDNS_UPDATER_PATH=/tmp/ddns-updater

BITWARDEN_SUBDOMAIN=vault
BITWARDEN_DOMAIN_KEY=abc123
BITWARDEN_PATH=/tmp/bitwarden
BITWARDEN_SIGNUPS_ALLOWED=false
BITWARDEN_INVITATIONS_ALLOWED=false

EXCALIDRAW_SUBDOMAIN=draw
EXCALIDRAW_DOMAIN_KEY=abc123

JELLYFIN_SUBDOMAIN=jellyfin
JELLYFIN_DOMAIN_KEY=abc123
JELLYFIN_CACHE_PATH=/tmp/jellyfin/cache
JELLYFIN_CONFIG_PATH=/tmp/jellyfin/config
JELLYFIN_MEDIA_PATH=/tmp/jellyfin/media

STATUS_SUBDOMAIN=status
STATUS_DOMAIN_KEY=abc123
STATUS_PATH=/tmp/status

TRANSLATE_SUBDOMAIN=translate
TRANSLATE_DOMAIN_KEY=abc123
