ROOT_DOMAIN=example.com

LETSENCRYPT_EMAIL=admin@example.com
LETSENCRYPT_PATH=/tmp/letsencrypt

DDNS_UPDATER_PATH=/tmp/ddns-updater

BITWARDEN_SUBDOMAIN=vault
BITWARDEN_DOMAIN_KEY=abc123
BITWARDEN_PATH=/tmp/bitwarden
BITWARDEN_SIGNUPS_ALLOWED=false
BITWARDEN_INVITATIONS_ALLOWED=false

EXCALIDRAW_SUBDOMAIN=draw
EXCALIDRAW_DOMAIN_KEY=abc123

JELLYFIN_SUBDOMAIN=jellyfin
JELLYFIN_DOMAIN_KEY=abc123
JELLYFIN_CACHE_PATH=/tmp/jellyfin/cache
JELLYFIN_CONFIG_PATH=/tmp/jellyfin/config
JELLYFIN_MEDIA_PATH=/tmp/jellyfin/media

UPTIME_KUMA_SUBDOMAIN=status
UPTIME_KUMA_DOMAIN_KEY=abc123
UPTIME_KUMA_PATH=/tmp/status

LIBRETRANSLATE_SUBDOMAIN=translate
LIBRETRANSLATE_DOMAIN_KEY=abc123
